@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');
@import url('https://webfontworld.github.io/NexonLv2Gothic/NexonLv2Gothic.css');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'NexonLv2Gothic'; */

ul, ol, li {
  list-style: none;
}

/* top-gnb area */
#top-gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
}

#top-gnb .bar-left {
  display: block;
  width: 107px;
  height: 62px;
  padding: 23px 23px 21px;
  box-sizing: border-box;
}

#top-gnb .bar-left .menu-icon {
  display: inline-block;
  width: 18px;
  height: 15px;
  background : url('../img/icon/set_gnb.png') 0 0 no-repeat;
  background-color: black;
  margin-top: 1px;
  margin-right: 7px;
  transition: all .2s linear;
}

#top-gnb .bar-left span {
  display: inline-block;
  font-family: 'NexonLv2Gothic';
  font-size: 17px;
  font-weight: 400;
  color: black;
  height: 18px;
  line-height: 18px;
  vertical-align: top;
  transition: all .2s linear;
}

#top-gnb .bar-left:hover span {
  color: #07f;
}

#top-gnb .bar-left:hover .menu-icon {
  background-color: #07f;
}

#top-gnb .bar-right {
  display: flex;
  justify-content: space-around;
  width: 221px;
  height: 62px;
  padding-right: 11px;
}

#top-gnb .bar-right .computer {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 62px;
  padding: 21px 5px 0 6px;
}

#top-gnb .bar-right .computer .com-icon {
  display: block;
  width: 22px;
  height: 22px;
  background: #191919 url('../img/icon/set_gnb_icon.png') 0 0 no-repeat;
}

#top-gnb .bar-right .computer .off-icon {
  display: block;
  position: absolute;
  border-radius: 7px;
  top: 19px;
  left: 17px;
  width: 22px;
  height: 14px;
  background: #737881 url('../img/icon/set_gnb_icon.png') -50px -250px no-repeat;
}

#top-gnb .bar-right .computer .pc-btn {
  display: block;
  position: absolute;
  top: 43px;
  left: -1px;
  border-radius: 9px;
  width: 36px;
  height: 18px;
  line-height: 16px;
  font-family: malgun gothic;
  font-size: 11px;
  letter-spacing: -.28px;
  color: white;
  padding: 1px 6px 0;
  transition: all .2s linear;
  opacity: 0;
  background-color: #1b1f24;
  box-sizing: border-box;
  text-align: center;
}

#top-gnb .bar-right .computer:hover .pc-btn {
  opacity: 1;
}

#top-gnb .bar-right .sign-up {
  display: inline-block;
  width: 59px;
  height: 62px;
  padding: 24px 3px 0;
  box-sizing: border-box;
  font-family: 'NexonLv2Gothic';
  font-size: 15px;
  font-weight: 500;
  color: #17191d;
  transition: all .15s linear;
}

#top-gnb .bar-right .login {
  display: inline-block;
  width: 85px;
  height: 36px;
  padding: 9px 18px 0;
  color: #080410;
  text-align: center;
  font-family: 'NexonLv2Gothic';
  font-size: 15px;
  font-weight: 900;
  border-radius: 19px;
  border: 2px solid #17191d;
  box-sizing: border-box;
  margin-top: 14px;
  margin-left: 10px;
  transition: all .15s linear;
}

#top-gnb .bar-right .sign-up:hover {
  color: #07F;
}

#top-gnb .bar-right .login:hover {
  background: #07F;
  border: 2px solid #07F;
  color: white;
}

/* sidebar area */
#sidebar {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  width: 220px;
  height: calc( 100vh - 62px );
  background-color: #222222;
}

#sidebar ul li {
  width: 100%;
  border-bottom: 1px solid #2f2e2e;
  font-family: 'Noto Sans KR', sans-serif;
}

#sidebar ul li:nth-child(1) {
  width: 100%;
  min-height: 147px;
  margin: 33px auto 0;
}

#sidebar ul li:nth-child(1) a span {
  display: block;
  width: 100%;
}

#sidebar ul li:nth-child(1) a span.txt {
  display: block;
  color: #6e6e6e;
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 500;
  text-align: center;
  padding-top: 8px;
}

#sidebar ul li:nth-child(1) a span.txt:after {
  content: '';
  display: inline-block;
  background-image: url('../img/ico_arrow.png');
  background-size: cover;
  vertical-align: middle;
  width: 8px;
  height: 11px;
  margin: -2px 0 0 5px;
}

#sidebar ul li:nth-child(1) a span img {
  display: block;
  width: 176px;
  margin: 0 auto;
}

#sidebar ul li:nth-child(2) {
  height: 176px;
  padding: 18px 18px 0 14px;
  box-sizing: border-box;
  border-left: 4px solid #b71c08;
}

#sidebar ul li:nth-child(2) a span.txt {
  display: inline-block;
  width: 184px;
  padding: 10px 0 15px;
  color: #b5b5b5;
  line-height: 1.2;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.5px;
}

#sidebar ul li:nth-child(2) a span.txt b {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

#sidebar ul li:nth-child(2) a span.img {
  display: block;
  width: 184px;
  height: 94px;
  background-image: url('../img/nav/spr_nav1.png');
  background-position: 100% 0;
  background-size: auto;
}

#sidebar ul li:nth-child(3) {
  margin-top: 1px;
  height: 176px;
  padding: 18px 18px 0 14px;
  box-sizing: border-box;
  border-left: 4px solid #5e5e5e;
}

#sidebar ul li:nth-child(3) a span.txt {
  display: inline-block;
  width: 184px;
  padding: 10px 0 15px;
  color: #7e7e7e;
  line-height: 1.2;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.5px;
}

#sidebar ul li:nth-child(3) a span.txt b {
  color: #7e7e7e;
  font-size: 18px;
  font-weight: 500;
}

#sidebar ul li:nth-child(3) a span.img {
  display: block;
  width: 184px;
  height: 94px;
  background-image: url('../img/nav/spr_nav1.png');
  background-position: 0 -94px;
  background-size: auto;
}

#sidebar ul li:nth-child(3) a:hover span.img {
  background-position: 100% -94px;
}

#sidebar ul li:nth-child(3) a:hover span.txt {
  color: #b5b5b5;
}

#sidebar ul li:nth-child(3) a:hover span.txt b {
  color: white;
}

#sidebar ul li:nth-child(4) {
  position: relative;
  height: calc( 100vh - 595px );
  border-bottom: none;
}

#sidebar ul li:nth-child(4) .util {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  width: 184px;
  height: 206px;
  padding-top: 30px;
  box-sizing: border-box;
}

#sidebar ul li:nth-child(4) .util .age12, #sidebar ul li:nth-child(4) .util .age18 {
  display: inline-block;
  width: 50%;
  height: 38px;
  text-indent: 0;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #818181;
  box-sizing: border-box;
  border: 1px solid #333333;
  background-image: none;
  background-color: #222222;
}

#sidebar ul li:nth-child(4) .util .age12 {
  background-color: #333333;
}

#sidebar ul li:nth-child(4) .util a {
  display: block;
  margin-top: 12px;
  width: 184px;
  height: 57px;
}
